

<div class="container">
<h2>FONT SELECTION</h2>



<%= link_to image_tag("font1.png", width: 180, align: :center), :action => "option", :controller => "guests", :fontfam => 1, :fontsize => 10 %> 
<%= link_to image_tag("font1.png", width: 220, align: :center), :action => "option", :controller => "guests", :fontfam => 1, :fontsize => 15 %> 
<%= link_to image_tag("font1.png", width: 260, align: :center), :action => "option", :controller => "guests", :fontfam => 1, :fontsize => 20 %> 
</br> 


<%= link_to image_tag("font2.png", width: 180, align: :center), :action => "option", :controller => "guests", :fontfam => 2, :fontsize => 10 %> 
<%= link_to image_tag("font2.png", width: 220, align: :center), :action => "option", :controller => "guests", :fontfam => 2, :fontsize => 15 %> 
<%= link_to image_tag("font2.png", width: 260, align: :center), :action => "option", :controller => "guests", :fontfam => 2, :fontsize => 20 %> 
</br> 


<%= link_to image_tag("font3.png", width: 180, align: :center), :action => "option", :controller => "guests", :fontfam => 3, :fontsize => 10 %> 
<%= link_to image_tag("font3.png", width: 220, align: :center), :action => "option", :controller => "guests", :fontfam => 3, :fontsize => 15 %> 
<%= link_to image_tag("font3.png", width: 260, align: :center), :action => "option", :controller => "guests", :fontfam => 3, :fontsize => 20 %> 
</br> 


<%= link_to image_tag("font4.png", width: 180, align: :center), :action => "option", :controller => "guests", :fontfam => 4, :fontsize => 10 %> 
<%= link_to image_tag("font4.png", width: 220, align: :center), :action => "option", :controller => "guests", :fontfam => 4, :fontsize => 15 %> 
<%= link_to image_tag("font4.png", width: 260, align: :center), :action => "option", :controller => "guests", :fontfam => 4, :fontsize => 20 %> 
</br> 


<%= link_to image_tag("font5.png", width: 180, align: :center), :action => "option", :controller => "guests", :fontfam => 5, :fontsize => 10 %> 
<%= link_to image_tag("font5.png", width: 220, align: :center), :action => "option", :controller => "guests", :fontfam => 5, :fontsize => 15 %> 
<%= link_to image_tag("font5.png", width: 260, align: :center), :action => "option", :controller => "guests", :fontfam => 5, :fontsize => 20 %> 
</br> 



